.App {
  text-align: center;
}

.nav-container {
  color: #ebe9e9;
  background-color: #EC4C8A;
  font-family: 'monospace';
}

.poster {
  height: 15rem;
  background-color: #f06ea0;
  font-size: 5rem;
  color: aliceblue;
}

.stocks-container {
  flex-wrap: wrap;
  max-height: 45rem;

}

.stock{
  position: relative;
  background-color: #EC4C8A;
  width: 50%;
  height: 12.5rem;
  padding: 1rem;
  margin: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.darker-stock {
  position: relative;
  background-color: #dc296e;
  width: 50%;
  height: 12.5rem;
  padding: 1rem;
  margin: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.stock:hover {
  background-color: #953c5c;
  color: white;
}

.darker-stock:hover {
  background-color: #953c5c;
  color: white;
}

.details-icon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
}

.darker-stock:hover > .details-icon {
  height: 40px;
  width: 40px;
}

.stock:hover > .details-icon {
  height: 40px;
  width: 40px;
}

.details-container {
  background-color: #dc296e;
  height: 90vh;
  color: white;
}